@charset "utf-8";
/* 设置全局样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(44, 216, 213, 1) 0%, rgba(197, 193, 255, 1) 56%, rgba(255, 186, 195, 1) 100%);
}

header h1 {
    margin: 0;
    opacity: 1;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    opacity: 1;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    opacity: 1;
    padding: 0px;
}
nav ul li a:hover {
	/*background-color: #FFFFFF;*/
	color: #5B89FF;
}

/* 设置段落样式 */
p {
	margin-bottom: 20px;
}

/* 设置节样式 */
section {
	margin-top: 100px;
	/*max-width: 800px;*/
	padding: 20px;
	/*width: 80%;*/
}

section h2 {
	border-bottom: 1px solid #ccc;
	font-size: 24px;
	margin-top: 0;
	padding-bottom: 10px;
}

/* 设置页脚样式 */
footer {
    background-color: #8A8A8A;
    color: #fff;
    padding: 20px;
    text-align: center;
    opacity: 0.34;
}
footer:hover {
    background-color: rgba(255,255,255,.5);
    color: #464646;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 0px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    transform-origin: center center;
    opacity: 1;
}

header.mainBox {
    /*background-color: #A3A3A3;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    opacity: 1;
    background: linear-gradient(90deg, rgba(44, 216, 213, 1) 0%, rgba(197, 193, 255, 1) 56%, rgba(255, 186, 195, 1) 100%);
}
video{  
    position: fixed;
    right: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    z-index:-11;
    /*加滤镜*/
    /*filter: blur(15px); //背景模糊设置 */
    /*-webkit-filter: grayscale(100%);*/  
    /*filter:grayscale(100%); //背景灰度设置*/         
}  
source{  
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
} 
